/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&family=Playwrite+HU:wght@342&family=Shrikhand&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Colors */
    --Beige: #F5EFEB;
    --Venus: #BAD6EB;
    --Navy: #205295;
    --Storm: #d2d7da;
    --White: #F9F6F3;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;

}

/* Styling for whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-content {
    text-align: center;
    padding: 60px 0 100px;
    font-size: var(--font-size-xl);
}

/* Navbar styling */
header {
    position: absolute;
    width: 100%;
    z-index: 5;
}   

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}
.logo-img {
    width: 20%;
    float: left;
    cursor: pointer;
}
.navbar .logo-link .logo-text {
    color: var(--White);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    font-family: "Shrikhand", serif;
    margin-right: 45%;
    margin-top: 5%;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .navlink {
    padding: 10px 18px;
    color: var(--Navy);
    font-size: var(--font-size-l);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    font-family: "Shrikhand", serif;
    background-color: white;
}

.navbar .nav-menu .navlink:hover {
    background: var(--Navy);
    color: var(--Beige);
}
body {
    background-image: url(bluey.jpg);
    background-size: cover;
}
.about-section {
    padding: 120px 0;
}

.about-section .section-content {
    text-align: justify;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    color: var(--Navy);
}

.section-title {
    font-family: "Shrikhand", serif;
    font-size: 200%;
}
.postcard {
    width: 50%;
    height: 100vh;
    float: left;
    margin-top: 12%;
    margin-left: 25%;
    border-radius: var(--border-radius-s);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
.custom-shape-divider-top-1763710921 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1763710921 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 141px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1763710921 .shape-fill {
    fill: #FFFFFF;
}
.timeline{
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    position: relative;
    max-width: 1200px;
}
.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;

}
.container:nth-child(2) {
    animation-delay: 1s;
    
}
.container:nth-child(3) {
    animation-delay: 2s;
    
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.text-box {
    color: var(--Navy);
    padding: 20px 30px;
    background: white;
    position: relative;
    border-radius: 6px;
    font-size: 25px;
}
.left-container {
    left: 0;
}   
.right-container {
    left: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 50%;
    margin-left: 3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;

    }
    100%{
        height: 100%;
    }
}


.text-box h2 {
    font-weight: 600;
    font-family: "Shrikhand", serif;
}

.text-box p {
    font-family: "Lexend Peta", sans-serif;
    font-size: 20px;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Lexend Peta", sans-serif;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px;
}

.header {
  margin-top: 55%;
  padding: 60px;
  height: 30vh;
  text-align: center;
  background: var(--White);
  color: white;
  font-size: 20px;
}
.header h1 {
    font-family: "Shrikhand", serif;
    color: var(--Navy);
    margin-top: 1%;   
}

.streamlayout {
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
}


